<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eliminar usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mb-4">Eliminar usuario</h1>

    <form th:action="@{/users/deleteUser}" method="post">

        <div class="form-group">
            <label for="userId">ID del usuario:</label>
            <input type="number" id="userId" name="id" class="form-control">
            <span th:if="${errorMessage}" th:text="${errorMessage}" class="text-danger"></span>
        </div>

        <div class="form-group">
            <p>¿Estás seguro de que deseas eliminar este usuario?</p>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-danger">Eliminar usuario</button>
        </div>

    </form>

    <a th:href="@{/users/home}" class="cancel-link">Cancelar</a>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


