<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Imagen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Editar Imagen</h1>
    <a th:href="@{/images}" class="btn btn-secondary">Volver</a>

    <form th:action="@{'/images/editImage/' + ${image.id}}" th:object="${image}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:value="${image.id}" name="id"/>
        <div class="form-group">
            <label for="imageUrl">Imagen:</label>
            <input type="file" class="form-control" id="imageUrl" name="imageUrl" required/>
        </div>
        <div class="form-group">
            <label for="typeImage">Type:</label>
            <select class="form-control" id="typeImage" name="typeImage" th:field="*{typeImage}">
                <option value="">Selecciona un tipo</option>
                <option value="individual">Individual</option>
                <option value="doble">Doble</option>
                <option value="triple">Triple</option>
            </select>
            <span th:if="${errorMessage}" th:text="${errorMessage}" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
