<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Editar Habitación</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Editar Habitación</h1>
    <nav class="mb-4">
        <a class="btn btn-primary" th:href="@{/home}">Home</a>
    </nav>
    <form th:action="@{'/rooms/editRoom/' + ${room.id}}" th:object="${room}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control" id="name" name="name" th:value="*{name}" >
            <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div class="form-group">
            <label for="nightPrice">Precio por Noche:</label>
            <input type="text" class="form-control" id="nightPrice" name="nightPrice" th:value="*{nightPrice}">
            <span class="error-message" th:if="${#fields.hasErrors('nightPrice')}" th:errors="*{nightPrice}"></span>
        </div>
        <div class="form-group">
            <label for="numbersRoom">Número de Habitación:</label>
            <input type="text" class="form-control" id="numbersRoom" name="numbersRoom" th:value="*{numbersRoom}">
            <span class="error-message" th:if="${#fields.hasErrors('numbersRoom')}" th:errors="*{numbersRoom}"></span>
        </div>
        <div class="form-group">
            <label for="typeRoom">Type:</label>
            <select class="form-control" id="typeRoom" name="typeRoom" th:field="*{typeRoom}">
                <option value="">Selecciona un tipo</option>
                <option value="individual">Individual</option>
                <option value="doble">Doble</option>
                <option value="triple">Triple</option>
            </select>
            <span class="error-message" th:if="${#fields.hasErrors('typeRoom')}" th:errors="*{typeRoom}"></span>
        </div>
        <div class="form-group">
            <label for="image">Main Image:</label>
            <input type="file" class="form-control" id="image" name="image" required/>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

