<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<nav>
    <a href="#">Hotel Continental</a>
    <ul>
        <!-- Botón de Login -->
        <li sec:authorize="!isAuthenticated()">
            <a th:href="@{/users/login}">Login</a>
        </li>
        <!-- Bienvenida al usuario autenticado -->
        <li sec:authorize="isAuthenticated()">
            <span>Welcome, <span th:text="${username}"></span>!</span>
        </li>
        <!-- Botón de Cerrar Sesión -->
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button type="submit">Cerrar sesión</button>
            </form>
        </li>
    </ul>
</nav>

<!-- Botones de Acciones -->
<div>
    <!-- Botones de Crear Habitación y Crear Imagen -->
    <ul>
        <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/rooms/createRoom}">Crear habitación</a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/images/createImage}">Crear imagen</a>
        </li>
        <!-- Botones de Editar Perfil y Eliminar Usuario (visible para usuarios autenticados) -->
        <li sec:authorize="isAuthenticated()">
            <a th:href="@{/users/editUser}">Editar Perfil</a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/users/deleteUser}">Eliminar Usuario</a>
        </li>
    </ul>
</div>

<!-- Formulario de búsqueda de habitaciones -->
<form th:action="@{/rooms/search}" method="get">
    <label for="checkInDate">Check-in Date:</label>
    <input type="date" id="checkInDate" name="checkInDate" required>

    <label for="checkOutDate">Check-out Date:</label>
    <input type="date" id="checkOutDate" name="checkOutDate" required>

    <button type="submit">Buscar</button>
</form>

<!-- Listado de Habitaciones -->
<div>
    <ul th:each="room : ${rooms}">
        <li>
            <a th:href="@{'/rooms/' + ${room.id} + '?checkInDate=' + ${checkInDate} + '&checkOutDate=' + ${checkOutDate}}">
                <img th:src="${room.image}" alt="Room Image">
                <h5 th:text="${room.name}">Room Name</h5>
                <p th:text="${room.nightPrice}">Night Price</p>
            </a>
        </li>
    </ul>
</div>

</body>
</html>


