<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Enlaza Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .room-image {
            width: 100px; /* Cambia el tamaño según tus necesidades */
            height: auto; /* Mantiene la proporción de la imagen */
        }
    </style>
</head>
<body>

<div class="container mt-4">
    <nav class="mb-4">
        <a class="btn btn-primary" th:href="@{/users/home}">Home</a>
    </nav>
    <!-- Formulario de búsqueda de habitaciones -->
    <form th:action="@{/rooms/listRooms}" method="get" th:object="${dateRange}" class="form-inline mb-4">
        <div class="form-group mr-2">
            <label for="checkInDate" class="mr-2">Check-in Date:</label>
            <input type="date" id="checkInDate" th:field="*{checkInDate}" class="form-control">
        </div>
        <div class="form-group mr-2">
            <label for="checkOutDate" class="mr-2">Check-out Date:</label>
            <input type="date" id="checkOutDate" th:field="*{checkOutDate}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <div th:if="${message}" th:text="${message}" class="alert alert-info"></div>

    <!-- Listado de Habitaciones -->
    <div class="row">
        <ul class="list-group w-100" th:each="room : ${rooms}">
            <li class="list-group-item">
                <div class="media">
                    <img th:src="${room.image}" alt="Room Image" class="mr-3 room-image">
                    <div class="media-body">
                        <h5 th:text="${room.name}" class="mt-0">Room Name</h5>
                        <p th:text="${room.nightPrice}">Night Price</p>
                        <p>Habitaciones disponibles: <span th:text="${availableRoomCounts.get(room.id)}"></span></p>
                        <a th:href="@{'/rooms/' + ${room.id} + '?checkInDate=' + ${dateRange.checkInDate} + '&checkOutDate=' + ${dateRange.checkOutDate}}" target="_blank" class="btn btn-info btn-sm">Ver Detalles</a>

                        <span th:if="${mensajeError}" th:text="${mensajeError + ' ' + availableRoomCounts.get(room.id) + ' habitaciones'}" class="text-danger"></span>
                        <span th:if="${mensajeError2}" th:text="${mensajeError2}" class="text-danger"></span>

                        <div class="room-actions mt-2">
                            <form th:action="@{/reservations/createReservation}" method="get" class="d-inline">
                                <input type="number" name="numbersRoom" th:value="${room.numbersRoom}" class="form-control d-inline-block w-auto"/>
                                <input type="hidden" name="nightPrice" th:value="${room.nightPrice}"/>
                                <input type="hidden" name="roomId" th:value="${room.id}"/>
                                <input type="hidden" name="checkInDate" th:value="${dateRange.checkInDate}" />
                                <input type="hidden" name="checkOutDate" th:value="${dateRange.checkOutDate}" />
                                <input type="hidden" name="userId" th:value="${userId}"/>
                                <button type="submit" class="btn btn-success btn-sm">Reservar</button>
                            </form>
                            <a th:href="@{'/rooms/editRoom/' + ${room.id}}" class="btn btn-warning btn-sm">Editar</a>
                            <form th:action="@{'/rooms/deleteRoom/' + ${room.id}}" method="post" class="d-inline">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
