<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Reservations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .pagination {
            display: flex;
            list-style-type: none;
            justify-content: center;
            margin-top: 20px;
        }
        .pagination li {
            margin: 0 5px;
        }
        .pagination li.active a {
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Reservations</h1>
    <nav class="mb-4">
        <a class="btn btn-primary" th:href="@{/users/home}">Home</a>
    </nav>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>DNI</th>
            <th>Room ID</th>
            <th>Check-In Date</th>
            <th>Check-Out Date</th>
            <th>Number of Rooms</th>
            <th>Night Price</th>
            <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${reservations}">
            <td th:text="${reservation.id}"></td>
            <td th:text="${reservation.user.id}"></td>
            <td th:text="${reservation.name}"></td>
            <td th:text="${reservation.username}"></td>
            <td th:text="${reservation.dni}"></td>
            <td th:text="${reservation.room.id}"></td>
            <td th:text="${reservation.checkInDate}"></td>
            <td th:text="${reservation.checkOutDate}"></td>
            <td th:text="${reservation.numberOfRooms}"></td>
            <td th:text="${reservation.nightPrice}"></td>
            <td th:text="${reservation.totalPrice}"></td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <!-- Primera página -->
            <li class="page-item" th:class="${currentPage == 0} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/reservations/listReservations(page=0, size=${size})}">Primera</a>
            </li>
            <!-- Página anterior -->
            <li class="page-item" th:class="${currentPage == 0} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/reservations/listReservations(page=${currentPage - 1}, size=${size})}">Anterior</a>
            </li>
            <!-- Páginas numéricas -->
            <li th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}" th:class="${pageNum == currentPage} ? 'active' : ''" class="page-item">
                <a class="page-link" th:href="@{/reservations/listReservations(page=${pageNum}, size=${size})}" th:text="${pageNum + 1}"></a>
            </li>
            <!-- Página siguiente -->
            <li class="page-item" th:class="${currentPage == totalPages - 1} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/reservations/listReservations(page=${currentPage + 1}, size=${size})}">Siguiente</a>
            </li>
            <!-- Última página -->
            <li class="page-item" th:class="${currentPage == totalPages - 1} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/reservations/listReservations(page=${totalPages - 1}, size=${size})}">Última</a>
            </li>
        </ul>
    </nav>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
